<div class="task-list-container">
  <div class="header">
    <h2>My Tasks</h2>
    <button mat-raised-button color="primary" (click)="openTaskModal()">
      <mat-icon>add</mat-icon>
      Create Task
    </button>
  </div>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="loading-spinner" />
  <div *ngIf="!isLoading" class="tasks-grid">
    <mat-card *ngFor="let task of tasks" class="task-card" [ngClass]="getStatusColor(task.priority)">
      <div class="card-content-wrapper">
        <mat-card-header>
          <div class="title-container">
            <mat-card-title class="task-title">{{ task.title }}</mat-card-title>
          </div>
          <div class="card-actions">
            <button mat-icon-button color="primary" (click)="openTaskModal(task)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-header>

        <div class="metadata-section">
          <span class="metadata-item">Status: {{ getFormattedStatus(task.status) }}</span>
          <span class="metadata-item">Priority: {{ getFormattedPriority(task.priority) }}</span>
        </div>

        <mat-card-content class="task-card-content">
          <p class="description">{{ task.description || 'No description provided' }}</p>
        </mat-card-content>

        <mat-card-footer class="card-footer">
          <div class="footer-left">
            <mat-checkbox 
              [checked]="task.status === 'COMPLETED'" 
              (change)="toggleTaskCompletion(task)"
              class="completion-checkbox">

            </mat-checkbox>
          </div>
          <div class="footer-right">
            <span class="due-date" [matTooltip]="getDueDateStatus(task.dueDate, task.status).message">
              <mat-icon 
                [style.color]="getDueDateStatus(task.dueDate, task.status).color"
                class="date-icon">
                {{ getDueDateStatus(task.dueDate, task.status).icon }}
              </mat-icon>
              {{ task.dueDate | date:'mediumDate' }}
            </span>
          </div>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>